<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../App.js"></script>
    <script src="../Routes/adminController.js"></script>
</head>
<body>
    <h1>Hii Administrator</h1>

    <a href="/admin/applications">View Applications</a>
    <br>
    <a href="/admin/availableMedicines.ejs">View available medicines</a>
    <br>
    <a href="/admin/PatientDetails">View Patient Information</a>
    <br>
    <a href="/admin/PharmacistDetails">View Pharmacist Information</a>
    <br>
    <a href="/admin/filter-medicines">filter Medicines</a>
    <br>
    <a href="/admin/avMed.ejs">View Medicine Quantity/sales</a>
    <br>
    <a href="/admin/searchMedicine">Search Medicine</a>
    <br>
    <a href="/admin/removeUser">Remove User</a>

    <form action="/admin/administration" method="get">
        <button type="submit">Add Administrator</button>
    </form>
    <br>


    
</body>
</html>