<!-- medicines.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Available Medicines</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Available Medicines</h1>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Sales</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(medicine => { %>
        <tr>
          <td><%= medicine.Name %></td>
          <td><%= medicine.Quantity %></td>
          <td><%= medicine.Sales %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
      <br> <br> 
    <a href="/admin">Back</a>
</body>
</html>
