<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- form         // Name: req.body.name, 
        // Details: req.body.details,
        // Price:req.body.price, 
        // Quantity:req.body.quantity -->
    <form action="/pharmacist/createMedicine" method="POST" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name"> <br><br>
        <label for="details">Details</label>
        <input type="text" name="details" id="details" placeholder="Details"><br><br>
        <label for="price">Price</label>
        <input type="text" name="price" id="price" placeholder="Price"><br><br>
        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" id="quantity" placeholder="Quantity"><br><br>
        <label for="sales">sales</label>
        <input type="number" name="sales" id="sales" placeholder="Sales"><br><br>
        <label for="image">Image</label>
        <input type="file" name="file" id="image">
        <label for="medicinalUse">Medicinal Use:</label>
        <input type="text" name="medicinalUse" id="medicinalUse" placeholder="Cold, Flu, Pain..."><br><br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>