<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Information</title>
</head>
<body>
    <h1>Update Medicine Information</h1>
    <form  action="/pharmacist/editmedResults" method="get">
        <label for="medicineName">Medicine Name:</label>
        <input type="text" id="medicineName" name="medicineName"><br><br>

        <label for="newPrice">New Price:</label>
        <input type="text" id="newPrice" name="newPrice"><br><br>

        <label for="newDetails">New Details:</label>
        <input type="text" id="newDetails" name="newDetails"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
