<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../Routes/pharmacistController.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="/admin/availableMedicines.ejs">View available medicines</a>
    <br>
    <br>
    <a href="/pharmacist/filter-medicines">filter Medicines</a>
    <br>
    <br>
    <a href="/pharmacist/avMed.ejs">View Medicine Quantity/sales</a>
    <br>
    <br>
    <a href="/pharmacist/editmed">Edit Specific medicine</a>
    <br>
    <br>
    <a href="/pharmacist/searchMedicine">Search Medicine</a>
    <br>
    <br>
    <a href="/pharmacist/createMedicine">Add Medicine</a>
</body>
</html>