<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- form         // Name: req.body.name, 
        // Details: req.body.details,
        // Price:req.body.price, 
        // Quantity:req.body.quantity -->
    <form action="/pharmacist/createMedicine" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name">
        <label for="details">Details</label>
        <input type="text" name="details" id="details" placeholder="Details">
        <label for="price">Price</label>
        <input type="text" name="price" id="price" placeholder="Price">
        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" id="quantity" placeholder="Quantity">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>