<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/PatientDetailsResults" method="get">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <input type="submit" value="Find PatientDetails">
    </form>
    <a href="/admin/PatientDetailsResults?username=All">  SHOW ALL </a>

</body>
</html>