<!DOCTYPE html>
<html>
<head>
  <title>Medicine Search Result</title>
</head>
<body>
<form action="/pharmacist/searchMedicine/searchResults" method="POST"></form>
  <h1>Medicine Search Result</h1>
  <div>
    <h2>Medicine Details</h2>
    <ul>
      <li><strong>Name:</strong> <%= name %></li>
      <li><strong>Details:</strong> <%= detail %></li>
      <li><strong>Price:</strong> <%= price %></li>
      <li><strong>Quantity:</strong> <%= quantity %></li>
    </ul>
  </div>
  <form>
</body>
</html>
